astroid
autoreject
backcall
certifi
colorama
cycler
decorator
ipykernel
ipython
ipython-genutils
isort
jedi
joblib
jupyter-client
jupyter-core
kiwisolver
lazy-object-proxy
matplotlib
mccabe
git+https://github.com/nbara/python-meegkit@master#egg=meegkit
#mkl-fft
#mkl-random
#mkl-service
mne
neurokit2
numpy
pandas
parso
patsy
pickleshare
Pillow
prompt-toolkit
psutil
Pygments
pylint
pymanopt
pyparsing
PyQt5
PyQt5-sip
python-dateutil
pytz
pywin32
pyzmq
rope
scipy
setuptools
six
scikit-learn
statsmodels
threadpoolctl
tornado
traitlets
wcwidth
wincertstore
wrapt
